{% extends "base.html" %}
{% load static %}
{% block title %}{{ service.title }}{% endblock title %}

{% block content %}
    <div class="my-container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="service-content">
                    <h3 class="service-content-title">{{ service.title }}</h3>
                    <div class="service-content-text" style="word-wrap: break-word">
                        {{ service.description|safe }}
                    </div>
                    <a href="https://telegram.me/Alextgtm" class="btn-telegram-service">
                        Заказать в Telegram
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="categories-list" style="margin-top: 0;">
                        <div class="categories-list-element" style="pointer-events: none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" display="block" id="EyeOpen">
				                <path d="M21.257 10.962c.474.62.474 1.457 0 2.076C19.764 14.987 16.182 19 12 19c-4.182 0-7.764-4.013-9.257-5.962a1.692 1.692 0 0 1 0-2.076C4.236 9.013 7.818 5 12 5c4.182 0 7.764 4.013 9.257 5.962z" />
				                <circle cx="12" cy="12" r="3" />
                            </svg>
                            <p style="margin-left: 15px;">{{ service.quantity }}</p>
                        </div>
                        <div class="categories-list-element" style="pointer-events: none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" display="block" id="Calendar">
				                <rect x="2" y="4" width="20" height="18" rx="4" />
				                <path d="M8 2v4" />
				                <path d="M16 2v4" />
				                <path d="M2 10h20" />
			                </svg>
                            <p style="margin-left: 15px;">{{ service.warranty }}</p>
                        </div>
                </div>
                {% if rec_services %}
                <div class="card-list" style="width: 100%; margin-left: 0;">
	<article class="my-card">
	<figure class="my-card-image">
        <a href="{% url 'service_view' id=rec_services.id %}"><img src="{{ rec_services.img.url }}" alt="An orange painted blue, cut in half laying on a blue background" /></a>
	</figure>
	<div class="my-card-header">
		<a href="{% url 'service_view' id=rec_services.id %}">{{ rec_services.title }}</a>
	</div>
	<div class="my-card-footer">
        <div style="display: flex">
		<div class="card-meta card-meta--views">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" display="block" id="EyeOpen">
				<path d="M21.257 10.962c.474.62.474 1.457 0 2.076C19.764 14.987 16.182 19 12 19c-4.182 0-7.764-4.013-9.257-5.962a1.692 1.692 0 0 1 0-2.076C4.236 9.013 7.818 5 12 5c4.182 0 7.764 4.013 9.257 5.962z" />
				<circle cx="12" cy="12" r="3" />
			</svg>
			{{ rec_services.quantity }}
		</div>
		<div class="card-meta card-meta--date">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" display="block" id="Calendar">
				<rect x="2" y="4" width="20" height="18" rx="4" />
				<path d="M8 2v4" />
				<path d="M16 2v4" />
				<path d="M2 10h20" />
			</svg>
			{{ rec_services.warranty }}
		</div>
        </div>
        <div class="category-card">
            {{ rec_services.category.title }}
        </div>
	</div>
</article>
</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}