@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap');

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

* {
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

a {
    background-color: transparent;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    transition: 0.3s;
    text-decoration: none;
    color: black;
}

body a {
    text-decoration: none;
    color: black;
}

p {
    margin: 0;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    position: relative;
}

body {
    font-family: "Lexend", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #2b2b2b;
    background: #f8fbfe;
}

@media (max-width: 440px) {
    body {
        font-size: 14px;
    }
}

button, select {
    text-transform: none;
}

button {
    overflow: visible;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

body {
    margin: 0;
}

header {
    position: relative;
    min-height: 65px;
    background-color: white;
}

.my-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    justify-content: space-between;
    border: 0;
}

.header-element {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title {
    font-size: 22px;
    font-weight: bold;
    color: black;
    margin-left: 10px;
}

.header-podtitle {
    font-size: 23px;
    background: -webkit-linear-gradient(#00d2ff, #3a7bd5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.my-container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .my-container, .container-sm, .container-md {
        max-width: 620px;
    }
}

@media (min-width: 992px) {
    .my-container, .container-sm, .container-md, .container-lg {
        max-width: 860px;
    }
}

@media (min-width: 1200px) {
    .my-container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1100px;
    }
}

.header-element-title {
    color: #5d5d5d;
    text-transform: uppercase;
    margin-left: 10px;
    font-size: 17px;
}

.header-element-btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: linear-gradient(to right, #00d2ff, #3a7bd5);
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border-radius: 30px;

}

.main-content {
    position: relative;
    min-height: calc(100vh - 65px);
    margin-top: 30px;
}

footer {
    display: block;
    position: relative;
    background: #313131;
    margin-top: 0;
    border-top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    color: #fff!important;
    width: 100%;
    float: left;
    font-size: 16px;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer-content {
    display: flex;
    justify-content: center;
    color: white;
}

.footer-text {
    color: white;
}

.categories-list {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    margin-top: 25px;
}

.title-services {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.categories-list-element {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    flex-direction: row;
    padding-top: 20px;
    align-items: center;
    padding-bottom: 20px;
}

.services-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}

figure, article {
    display: block;
}

.card-list {
	width: 90%;
	max-width: 400px;
}

.card-list img {
    max-width: 100%;
    display: block;
}

.my-card {
	background-color: #FFF;
	box-shadow: 0 0 0 1px rgba(#000, .05), 0 20px 50px 0 rgba(#000, .1);
	border-radius: 15px;
	overflow: hidden;
	padding: 1.25rem;
	position: relative;
	transition: .15s ease-in;
}

.my-card:hover, .my-card:focus-within {
    box-shadow: 0 0 0 2px #16C79A, 0 10px 60px 0 rgba(#000, .1);
    transform: translatey(-5px);
 }

.my-card-image {
	border-radius: 10px;
	overflow: hidden;
}

.my-card-header {
	margin-top: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.my-card-header a {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.25;
    padding-right: 1rem;
    text-decoration: none;
    color: inherit;
    will-change: transform;
}

.my-card-header a:after {
     content: "";
     position: absolute;
     left: 0;
     top: 0;
     right: 0;
     bottom: 0;
 }

.icon-button {
	border: 0;
	background-color: #fff;
	border-radius: 50%;
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	font-size: 1.25rem;
	transition: .25s ease;
	box-shadow: 0 0 0 1px rgba(#000, .05), 0 3px 8px 0 rgba(#000, .15);
	z-index: 1;
	cursor: pointer;
	color: #565656;

}

.icon-button svg {
    width: 1em;
    height: 1em;
}

.icon-button svg:hover, .icon-button svg:focus {
		background-color: #EC4646;
		color: #FFF;
}

.my-card-footer {
	margin-top: 1.25rem;
	border-top: 1px solid #ddd;
	padding-top: 1.25rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
    justify-content: space-between;
}

.card-meta {
    display: flex;
    align-items: center;
    color: #787878;
    font-size: 14px;
}

.card-meta:first-child:after {
    display: block;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: currentcolor;
    margin-left: .75rem;
    margin-right: .75rem;
}

.card-meta svg {
    flex-shrink: 0;
    width: 1em;
    height: 1em;
    margin-right: .25em;
}

.category-card {
    color: #949694;
    text-transform: uppercase;
    padding: 7px;
    background-color: #f8fbfe;
    font-size: 11px;
}